# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Hashom',
      'submenu': [
        {
          'label': 'MD5'
          'command': 'hashom:MD5'
        },
        {
          'label': 'SHA1'
          'command': 'hashom:SHA1'
        },
        {
          'label': 'SHA256'
          'command': 'hashom:SHA256'
        },
        {
          'label': 'SHA512'
          'command': 'hashom:SHA512'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Hashom'
      'submenu': [
        {
          'label': 'MD5'
          'command': 'hashom:MD5'
        },
        {
          'label': 'SHA1'
          'command': 'hashom:SHA1'
        },
        {
          'label': 'SHA256'
          'command': 'hashom:SHA256'
        },
        {
          'label': 'SHA512'
          'command': 'hashom:SHA512'
        }
      ]
    ]
  }
]
